@import '~/assets/styles/variables/_colors';
@import '~/assets/styles/components/buttons/_general';

@mixin buttonFlatRaw() {
    @include buttonCommon();

    background-color: $backColor;
    color: $lightColor;

    transition: color 0.25s, border 0.1s;
    transition-timing-function: ease-in;
}

@mixin buttonFlat() {
    .btn-flat {
        @include buttonFlatRaw();
    }

    .btn-flat:hover {
        color: $contrastColor2;
    }

    @include buttonSelected();
}