@import '~/assets/styles/variables/_colors';

@mixin buttonCommon() {
    display: block;
    border: 0;
    padding: 10px;
    min-width: 100px;
    max-width: 200px;
    margin: 5px;
    font-size: 14px;
}

@mixin buttonSelected() {
    .btn-selected {
        color: $contrastColor2;
        text-decoration: underline;
    }
}