@import '~/assets/styles/variables/_colors';

@mixin buttonLinkRaw() {
    color: $white;
    cursor: pointer;
    font-weight: bold;
}

@mixin buttonLink() {
    .btn-link {
        @include buttonLinkRaw();
    }
}