@import '~/assets/styles/variables/_colors';
@import '~/assets/styles/components/buttons/_general';

@mixin buttonPrimaryRaw() {
    @include buttonCommon();

    background-color: $contrastColor1;
    color: $backColor;

    transition: background-color 0.15s, color 0.25s, border 0.1s;
    transition-timing-function: ease-in;
}

@mixin buttonPrimary() {
    .btn-primary {
        @include buttonPrimaryRaw();
    }

    .btn-primary:hover {
        background-color: $contrastColor1Hover;
    }
    .btn-primary:focus {
        background-color: $white;
    }

    @include buttonSelected();
}