{% extends 'layouts/landing.html.twig' %}

{% block content %}
    <h1>HOMEPAGE</h1>
    {% if user is defined and user.isSigned is defined and user.isSigned %}
        <p>Hello to: {{ user.data.email }}</p>
    {% endif %}
{% endblock %}