{% extends 'layouts/clear.html.twig' %}

{% block content %}
    {# <h1>AUTH</h1>
    <hr/>
    <h2>LOGIN</h2>
    <section id="login" class="login-form">
        <div class="login-form-inputs">
            <div class="input-box email">
                <label for="email">E-mail:</label>
                <input type="text" name="email"/>
            </div>
            <div class="input-box password">
                <label for="pass">Password:</label>
                <input type="password" name="pass"/>
            </div>
        </div>
        <div class="login-form-actions">
            <div class="action-box submit">
                <button id="submit" class="button submit">
                    Submit
                </button>
            </div>
        </div>
        <script>
            const buttonRegister = document.querySelector('#login #submit');
            buttonRegister.addEventListener('click', () => {
                const inputPass = document.querySelector('#login input[name="pass"]');
                const inputEmail = document.querySelector('#login input[name="email"]');
                fetch('{{ path("api_auth_sign_in") }}', {
                    method: 'POST',
                    body: JSON.stringify({
                        pass: inputPass.value,
                        email: inputEmail.value
                    })
                })
                .then(response => response.json())
                .then(data => console.log(data));
            });
        </script>
    </section>
    <hr/>
    <h2>REGISTER</h2>
    <section id="register" class="register-form">
        <div class="register-form-inputs">
            <div class="input-box email">
                <label for="email">E-mail:</label>
                <input type="text" name="email"/>
            </div>
            <div class="input-box password">
                <label for="pass">Password:</label>
                <input type="password" name="pass"/>
            </div>
            <div class="input-box nickname">
                <label for="name">Nickname:</label>
                <input type="password" name="name"/>
            </div>
        </div>
        <div class="register-form-actions">
            <div class="action-box submit">
                <button id="submit" class="button submit">
                    Submit
                </button>
            </div>
        </div>
        <script>
            const buttonRegister = document.querySelector('#register #submit');
            buttonRegister.addEventListener('click', () => {
                const inputName = document.querySelector('#register input[name="name"]');
                const inputPass = document.querySelector('#register input[name="pass"]');
                const inputEmail = document.querySelector('#register input[name="email"]');
                fetch('{{ path("api_auth_sign_up") }}', {
                    method: 'POST',
                    body: JSON.stringify({
                        name: inputName.value,
                        pass: inputPass.value,
                        email: inputEmail.value
                    })
                })
                .then(response => response.json())
                .then(data => console.log(data));
            });
        </script>
    </section>
    <hr/> #}
    <div class="background">
        <div id="app"></div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('style_auth') }}
{% endblock %}

{% block body_javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('vue_auth') }}
{% endblock %}