@import '~/assets/styles/variables/_images';
@import '~/assets/styles/components/buttons/_flat';
@import '~/assets/styles/components/buttons/_primary';
@import '~/assets/styles/components/buttons/_link';

div.background {
    background-image: url($backgroundAuth);
    background-size: cover;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
}

div.auth-wrapper {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: flex-end;
}

div.auth-container {
    height: 100vh;
    background-color: $backColor;
    min-width: 300px;
    width: 30vw;
    max-width: 500px;
    margin-right: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    div.tabs {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 10px;
    }

    div.tab-content {
        height: 100%;
        position: relative;

        div.tab {
            position: absolute;
            top: 50px;
            box-sizing: border-box;
            width: 100%;
            padding: 20px;
            min-height: 300px;
            display: flex;
            flex-direction: column;

            label {
                margin-top: 20px;
                font-size: 12px;
                color: $contrastColor2;
            }

            button {
                align-self: center;
            }

            input {
                background-color: $backColor;
                color: $lightColor;
                padding: 10px;
                border: 1px solid $contrastColor2;
                margin-bottom: 20px;
                outline: none;
            }

            div.policy {
                margin-top: 50px;
            }
        }
    }
}

@include buttonFlat();
@include buttonPrimary();
@include buttonLink();