<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}RPG Scenario Organizer!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('style_base') }}
        {% endblock %}
        {% block head_javascripts %}
            {{ encore_entry_script_tags('js_base') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block body_javascripts %}{% endblock %}
    </body>
</html>
