<template>
<div class="auth-wrapper">
    <div class="auth-container">
        <div class="tabs">
            <button 
                v-bind:class="['btn-flat', isLoginSelected ? 'btn-selected' : '']" 
                @click="selectTab('login')">
                    SIGN IN
                </button>
            <button 
                v-bind:class="['btn-flat', isRegisterSelected ? 'btn-selected' : '']" 
                @click="selectTab('register')">
                    SIGN UP
            </button>
        </div>
        <div class="tab-content">
            <div class="tab tab-login" v-if="isLoginSelected">
                <h2>LOGIN</h2>
                <label for="email">E-mail address</label>
                <input type="email" name="email" id="form-email" placeholder="email" v-model="email">
                <label for="pass">Password</label>
                <input type="password" name="pass" id="form-pass" placeholder="password" v-model="pass">
                <button class="btn-primary" @click="submitLogIn()">Sign in</button>
            </div>
            <div class="tab tab-register" v-if="isRegisterSelected">
                <h2>REGISTER</h2>
                <label for="email">E-mail address</label>
                <input type="email" name="email" id="form-email" placeholder="email" v-model="email">

                <label for="pass">Password</label>
                <input type="password" name="pass" id="form-pass" placeholder="password" v-model="pass">

                <label for="name">Nickname</label>
                <input type="text" name="name" id="form-name" placeholder="name" v-model="name">
                
                <button class="btn-primary" @click="submitRegister()">Register</button>

                <div class="policy">
                    By registering on our page, you agree to our policy: 
                    <a class="btn-link">Policy</a>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            selected: 'login',
            email: '',
            pass: '',
            name: '',
        };
    },
    computed: {
        isLoginSelected() {
            return this.selected === 'login';
        },
        isRegisterSelected() {
            return this.selected === 'register';
        }
    },
    created() {
        console.log('VUE!');
    },
    methods: {
        selectTab(tabName) {
            this.selected = tabName;
        },
        submitLogIn() {
            console.log('logging!', this.email);
            this.send(
                '/signin',
                {email: this.email, pass:this.pass},
                (result) => console.log('result:', result) 
            );
        },
        submitRegister() {
            console.log('registering!');
        },
        send(url, data, callback) {
            fetch(url, {
                method: 'POST',
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => callback(data));
        },
        handleResult(result) {
            console.log('Result: ', result);
        }
    },
}
</script>

